<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/logo.jpg" class="d-inline-block align-text-center logo">
      Product Comparator
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="container navbar-nav d-flex justify-content-end">
        <a class="nav-link active" routerLink="/home">Home</a>
        <a class="nav-link" routerLink="/analyze">Analyze</a>
        <a class="nav-link" routerLink="/compair">Comapare</a>
      </div>
    </div>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
