<div class="d-flex flex-column vh-100 justify-content-around" id="Cover">
    <div class="px-3 text-center">
        <div class="mx-5 py-5 rounded-5" style="background-image: radial-gradient(rgb(1, 1, 8) 6%, transparent 60%);">
            <h1 class="fw-bold">Product Comparator</h1>
            <br>
            <h5>
                Empowering Your Shopping Journey<br> Compare, Decide, Trust!"<br>
            </h5>
            <br>
            <span class="mx-5 fw-normal">
                Help users in making informed purchasing decisions by providing
                comprehensive product comparisons <br>across various e-commerce platforms
                like Amazon, Flipkart.
            </span>

            <p class="lead mt-4">
                <a href="#features" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
            </p>
        </div>
    </div>
</div>
<div class="container marketing text-center" id="features">

    <!-- Three columns of text below the carousel -->
    <div class="row py-5 my-5">
        <div class="col-lg-4">
            <img src="../../assets/images/analyze.png" class="bd-placeholder-img rounded-circle" width="140"
                height="140" alt="Analyze">
            <h2 class="fw-normal">Analyze</h2>
            <p>Implement features to detect fake reviews and provide users with accurate
                insights into product quality.
                Provide positive and negative review ratios based on genuine reviews.</p>
            <p><a class="btn btn-secondary" routerLink="/analyze">Analyze Product</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="../../assets/images/compair.png" class="bd-placeholder-img rounded-circle" width="140"
                height="140" alt="compair">
            <h2 class="fw-normal">Compare</h2>
            <p>Compare products from different e-commerce sites based on
                various criteria such as price, features, and reviews.
                Provide an intuitive interface for easy navigation and comparison of products.</p>
            <p><a class="btn btn-secondary" routerLink="/compair">Compair products</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="../../assets/images/review-analysis.jpg" class="bd-placeholder-img rounded-circle" width="140"
                height="140" alt="Review Analysis">
            <h2 class="fw-normal">Sentiment Analysis</h2>
            <p>Analyse product reviews
                and extract insights.
                Offer users the ability to view sentiment analysis and ratings to make
                informed decisions</p>
            <p><a class="btn btn-secondary" routerLink="/analyze">Analyse Product</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div>